<!-- Loop over each object in the devnotes array -->
<h1>Your Developer Notes</h1>
{{#each devnotes as |devnote| }}  
  {{#if @first}}
    <h5>Welcome {{devnote.user.name}} <a href="/changePassword">Change Password</a></h5>
  {{/if}}
  <div class="row mb-4 project">
    <div class="col-md-5">
      <h6>
        {{devnote.name}}
      </h6>
      <p>
        {{devnote.devnote_body}}
      </p>
      <p>User: {{devnote.user.email}}</p>
    </div>

  </div>
{{/each}}
<button id="logout" class="btn btn-primary" type="submit">Logout</button>
<script src="./assets/js/logout.js"></script>
