<!-- Loop over each object in the devnote array -->
<div class="row mb-4 project">
  <div class="col-md-5">
    <h5>
      Welcome {{user.name}}
    </h5>
    <p>Email: {{user.email}}</p>
  </div>
  <div class="col-md-7">
    <p>
      <a href="">Change {{user.password}}</a>
    </p>
  </div>
</div>
<button id="logout" class="btn btn-primary" type="submit">Logout</button>
<script src="./assets/js/logout.js"></script>
