<div class="text-center">
  <h2>{{name}}</h2>
  <textarea>{{devnote_body}}</textarea>
  <p>Created by {{user.name}} on {{date_created}}</p>
  <p>
    <button class="btn btn-primary">Edit this note</button>
  </p>
</div>
