<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
    <nav class="navbar navbar-dark bg-dark">
      <div class="icons">
        <i class="fas fa-save text-light save-note"></i>
        <i class="fas fa-plus text-light new-note"></i>
      </div>
    </nav>
  {{#if devnote.length}}

  <div class="col-md-6 post-list">
    <h3>Current Devnotes:</h3>

    {{#each devnotes as |devnote|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/devnote/{{devnote.id}}">{{devnote.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{devnote.id}}">DELETE</button>
        <textarea class="note-textarea" placeholder="Note Text"></textarea>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
<script src="./assets/js/index.js"></script>
<script src="./assets/js/profile.js"></script>
